body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        background: url("../images/bg.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wrap {
    position: absolute;
    width: 960px;
    height: 100%;
    margin: 145px 296px 30px 296px;
}

/* HEADER */

#Header1 {
	position: fixed;
	width: 100%;
	height: 100px;
	background-color: #ffffff;
	border-bottom: 2px solid #cccccc;
	z-index: 1;
}

#headernamebox {
	background-color: #4aaaa5;
    height: 100px;
    border-bottom: 2px solid #cccccc;
    width: 255px;
    margin-left: 18%;
    float: left;
}

#headernametext {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
    position: absolute;
    font-size: 40px;
    margin: 30px 32px;
}

/* END HEADER */
/* NAVIGATION BAR */

#navbar {
	float: right;
    width: 245px;
    margin-top: 30px;
    margin-right: 9%;
}

#navbar a {
    text-decoration: none;
    color: #777777;
    padding: 14px;
    float: left;
}

#navbar a:hover {
	background-color: #4aaaa5;
}

#navbar a:active {
	background-color: #56c6c0;
	color: white;
}

#navborder {
	border-right: 1px solid #777;
}

/* END NAVIGATION BAR */
/* CONNECT WITH ME */

#connect {
    background-color: #fff;
    width: 240px;
    height: 175px;
    float: right;
    border: 2px solid #777;
    border-radius: 12px;
}

#connecttext {
	font-family: 'Georgia', Times, Times New Roman, serif;
    text-align: center;
    font-weight: bold;
    color: #4aaaa5;
    font-size: 18px;
    margin: 0px 13px;
    padding: 25px 0px;
    border-bottom: 3px solid #777;
}

#connecticons {
	margin-top: 10px;
}

#connectli a{
	margin: 12px;
	float: left;
	display: inline-block;
}

#connectli a:hover{
	opacity: .6;
}

#connectimage {
	width: 55px;
	height: 55px;
}

/* END OF CONNECT WITH ME */
/* ABOUT ME */

#aboutme1 {
    width: 650px;
    height: 100%;
    float: left;
    background-color: #fff;
    border: 2px solid #777;
    border-radius: 12px;
}

#aboutmehead {
	margin: 32px 50px 30px 50px;
    color: #4aaaa5;
    font-weight: bold;
    border-bottom: 3px solid #777;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

#aboutmeimg {
    margin: 15px 20px 25px 16px;
    background-color: #fff;
    height: 81%;
    overflow: auto;
}

#aboutmeimg2 {
	position: relative;
	margin-left: 10px;
    margin-right: 10px;
    width: 40%;
    height: auto;
    border-radius: 8px;
    border: 2px solid black;
    float: left;
}

#aboutmecontent {
	color: #777;
    letter-spacing: 1px;
    word-spacing: 1px;
}

/* END OF ABOUT ME */
/* PORTFOLIO */

#portfolio1 {
    width: 650px;
    height: 100%;
    background-color: #fff;
    border: 2px solid #777;
    border-radius: 12px;
}

#portfoliohd {
    margin: 25px 70px 15px 50px;
    padding-bottom: 20px;
    color: #4aaaa5;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    border-bottom: 3px solid #777;
}

#portimage1 {
    position: relative;
    height: 83%;
    top: 10px;
    left: 15px;
    width: 625px;
    background-color: #fff;
    border-radius: 12px;
    overflow: auto;
}

#image1 {
	position: relative;
	margin: 10px;
    width: 45%;
    height: auto;
    border-radius: 8px;
    border: 2px solid black;
}

span h4{
	position: absolute;
    padding-top: 21px;
    text-align: center;
    background-color: #717476;
    width: 45%;
    height: 6%;
    margin-top: -85px;
    margin-left: 10px;
    opacity: .8;
    font-size: 22px;
    text-decoration: none;
    color: white;
    border: 2px solid black;
}

#portfoliohr2 {
	width: 620px;
    height: 30px;
    margin-left: 15px;
    margin-bottom: -25px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 3px 0;
    border-radius: 20px;
    position: absolute;
    bottom: 32px;
}

/* END OF PORTFOLIO */
/* FORM */

#formwrap {
    width: 650px;
    height: 520px;
    background-color: #fff;
    border: 2px solid #777;
    border-radius: 12px;
}

form {
	width: 415px;
	margin: 25px;
}


form h4 {
    margin-top: 5px;
    margin-left: 55px;
    color: #4aaaa5;
    border-bottom: 3px solid #777;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

label {
	display: block;
	margin-left: 20px;
	padding: 16px;
}

input {
	width: 250px;
	margin-left: 25px;
	border: solid 2px #39393a;
}

textarea {
	width: 250px;
	height: 140px;
	margin-left: 25px;
	border: solid 2px #39393a;
}

fieldset {
	padding: 5px;
}

.btn {
	width: 125px;
    height: 46px;
    margin-top: 7px;
    margin-left: 25px;
    background-color: #323435;
    cursor: pointer;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 12px;
    box-shadow: 0 6px #1c1c1c;
}

.btn:hover {
	background-color: #4e5456;
}

.btn:active {
  background-color: #222425;
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}

/* END OF FORM */
/* FOOTER */

#footer {
	background-color: #666666;
	width: 100%;
	height: 75px;
	text-align: center;
	position: absolute;
	bottom: 0;
	border-top: 4px solid #4aaaa5;
}

#footertext {
	padding-top: 30px;
    font-size: 12px;
    color: #c0c0c0;
}

/* END OF FOOTER */
/* MEDIA WIDTH */



@media screen and (max-width: 980px) {
    #Header1 {
        position: static;
    }

    .wrap {
        width: 100%;
        height: 100%;
        margin: 0px;
    }

    #connect {
        height: 235px;
        width: 81px;
        margin: 10px 0px 0px 0px;
    }
    
    #connecttext {
        display: none;
    }

    #connecticons {
        margin-top: -5px;
        float: right;
    }

    #aboutme1 {
        margin: 0px;
        height: 780px;
        width: 664px;
        border-radius: 0px;
        border: 3px solid #777;
    }

    #aboutmeimg {
        height: 650px;
    }

    #portfolio1 {
        margin: 10px 0px 10px 10px;
        height: 780px;
    }

    #portimage1 {
        height: 650px;
    }

    #formwrap {
        margin: 10px 0px 10px 10px;
    }
}

@media screen and (max-width: 768px) {

    #navbar {
        clear: both;
        width: 242px;
        height: 44px;
        background-color: #fff;
        border: 3px solid #777;
        float: none;
        z-index: 1;
    }

    .wrap {
        margin-top: 48px;
    }
    
    #connect {
        height: 44px;
        width: 140px;
        margin: 0px;
        margin-top: -49px;
        border-radius: 0px;
        border: 3px solid #777;
    }

    #connecticons {
        margin: 0px;
        float: left;
        height: 44px;
        width: 140px;
    }

    #connectimage {
        width: 42px;
        height: 42px;
        margin: 1px 2px 1px 2px;
    }

    #connectli a {
        margin: 0px;
        float: left;
    }

    #aboutme1 {
        margin: 0px;
        height: 114%;
        width: 100%;
        border-radius: 0px;
        border: 3px solid #777;
    }

    #aboutmeimg {
        height: 86%;
    }

    #portfolio1 {
        margin: 0px;
        border-radius: 0px;
        border: 3px solid #777;
    }

    #formwrap {
        margin: 0px;
        border-radius: 0px;
        border: 3px solid #777;
    }

    #footer {
        bottom: -350px;
        position: absolute;
    }
}

@media screen and (max-width: 640px) {




}